<ul class="todos">
	{{#each todo in controller itemController="todo"}}
    	{{#if controller.isEditing}}
    		{{input type="text" value=todo.description autofocus="autofocus" insert-newline="update" focus-out="update"}}
    	{{else}}
	        <li {{bind-attr class="todo.isCompleted:completed"}}>
	            <span>{{input type="checkbox" checked=todo.isCompleted}}</span>
	            <span {{action 'edit' on="doubleClick"}}>{{todo.description}}</span>
	            <span class="cross" {{action 'remove' todo}}>&times</span>
	        </li>
	    {{/if}}
	{{else}}
	    Yay! Nothing here.
    {{/each}}
</ul>
