{{input type="text" value=newTodo action="add" placeholder="What needs to be done?"}}

<ul class="todos">
    {{outlet}}
</ul>

<div>
	<span>Remaining: </span><strong>{{remaining}}</strong>
</div>
<div>
	<span>Completed: </span><strong>{{completed}}</strong>
</div>
<div>
	{{link-to 'All' 'todos.index'}}
	{{link-to 'Active' 'todos.active'}}
	{{link-to 'Completed' 'todos.completed'}}
</div>