{{input type="text" value=newTodo action="add" placeholder="What needs to be done?"}}

<ul class="todos">
    {{#each todo in controller itemController="todo"}}
    	{{#if controller.isEditing}}
    		{{input type="text" value=todo.description action="update"}}
    	{{else}}
	        <li {{bind-attr class="todo.isCompleted:completed"}}>
	            <span>{{input type="checkbox" checked=todo.isCompleted}}</span>
	            <span {{action 'edit' on="doubleClick"}}>{{todo.description}}</span>
	            <span class="cross" {{action 'remove' todo}}>&times</span>
	        </li>
	    {{/if}}
    {{/each}}
</ul>

<div>
	<span>Remaining: </span><strong>{{remaining}}</strong>
</div>
<div>
	<span>Completed: </span><strong>{{completed}}</strong>
</div>