{{input type="text" value=newTodo action="add" placeholder="What needs to be done?"}}

<ul class="todos">
    {{#each todo in controller itemController="todo"}}
        <li {{bind-attr class="todo.isCompleted:completed"}}>
            {{input type="checkbox" checked=todo.isCompleted}}
            {{todo.description}}
        </li>
    {{/each}}
</ul>

<div>
	<span>Remaining: </span><strong>{{remaining}}</strong>
</div>