{{input type="text" value=newTodo action="add" placeholder="What needs to be done?"}}

<ul class="todos">
    {{#each todo in controller itemController="todo"}}
        <li {{bind-attr class="todo.isCompleted:completed"}}>
            {{input type="checkbox" checked=todo.isCompleted}}
            {{todo.description}}
            <span class="cross" {{action 'remove' todo}}>&times</span>
        </li>
    {{/each}}
</ul>

<div>
	<span>Remaining: </span><strong>{{remaining}}</strong>
</div>
<div>
	<span>Completed: </span><strong>{{completed}}</strong>
</div>