<div class="row text-center border">
    <hr>
    {{link-to 'All' 'todos.index' class="tab"}}
    {{link-to 'Active' 'todos.active' class="tab"}}
    {{link-to 'Completed' 'todos.completed' class="tab"}}
</div>

<div class="row middle">
    {{input type="text" class="form-control new-todo" value=newTodo action="add" placeholder="What needs to be done?"}}

    {{outlet}}
</div>


<div class="row middle">
    <span class="pull-left">Remaining <span class="badge">{{remaining}}</span></span>
    <a class="pull-right text-danger" href="#" {{action "clearCompleted"}}>Clear Completed <span class="badge">{{completed}}</span></a>
</div>